.billing-container {
  width: 50%;
  margin: auto;
  padding-top: 25px;
  padding-bottom: 150px;
}
.bgImg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1445140463371-d8036feedc2f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=733ea6bce7a4ec3571b9a8ba39387bb7&auto=format&fit=crop&w=1052&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150vh;
}

.bg_color {
  background: #f3f2f1 !important;
}
