.component-container {
  padding-top: 40px;
}

.receipt-container {
  text-align: center;
  border: 3px solid black;
  border-radius: 25px;
  padding-top: 10px;
  margin: auto;
  width: 50%;
  border: 1px solid black;
}

p {
  font-size: 20px;
}
